registry=https://registry.npmjs.org/
//localhost:8081/repository/achat-npm-releases/:username=admin
//localhost:8081/repository/achat-npm-releases/:_password=Qm91ZGVuNzQx
//localhost:8081/repository/achat-npm-releases/:email=admin@example.org
//localhost:8081/repository/achat-npm-releases/:always-auth=true
